<%- include('../partials/header'); %>

    <main class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-center">Cadastrar Funcion치rio</h1>
                <hr>
                <p class="text-justify">
                <form action="/editarfuncionario/<%= id_funcionario %>" method="POST" class="form_cadastro">
                    <input type="text" placeholder="Nome do Funcion치rio" name="nome_funcionario" id="nome_funcionario"
                        class="input_form" value="<%= nome_funcionario %>">
                    <input type="text" placeholder="Cargo do Funcion치rio" name="cargo_funcionario"
                        id="cargo_funcionario" class="input_form" value="<%= cargo_funcionario %>">
                    <input type="text" placeholder="CPF do Funcion치rio" name="cpf_funcionario" id="cpf_funcionario"
                        class="input_form" value="<%= cpf_funcionario %>">
                    <button type="submit" class="botao_form">Cadastrar</button>
                </form>
                </p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <h1>Menu</h1>
                <a name="" id="" class="botao_menu" href="/" role="button">Inicio</a>
                <a name="" id="" class="botao_menu" href="#" role="button">Estoque Completo</a>
                <a name="" id="" class="botao_menu" href="#" role="button">Estoque Simplificado</a>
                <a name="" id="" class="botao_menu" href="/produtos" role="button">Produtos</a>
                <a name="" id="" class="botao_menu" href="#" role="button">Funcionarios</a>
                <a name="" id="" class="botao_menu" href="#" role="button">Fornecedores</a>
            </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>