<%- include('../partials/header'); %>

    <main class="container-fluid">
        <div class="row">
            <div class="col-md-12 pl-4">
                <p class="rotas">Home/<b>Fornecedores</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <h1 class="text-center h1_secoes">Fornecedores</h1>
                <div class="botoes_acoes">
                    <a href="/cadastrarfornecedores" class="btn btn-primary">Cadastre um novo fornecedor</a>
                </div>
                <hr>
                <p class="text-justify">
                <div class="table-responsive">
                    <table class="tabela_produtos">
                        <thead>
                            <%if (fornecedores_achados=='' ){ %>
                                <tr>
                                    <td colspan="7" class="alert-warning text-center">
                                        Não há nenhuma informação a ser exibida! <br>
                                        <a href="/cadastrarfornecedores" class="botao_cadastro">Cadastre um novo
                                            fornecedor</a>
                                    </td>
                                </tr>
                                <%} else { fornecedores_achados.forEach(function(fornecedor){ %>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>CNPJ</th>
                                    <th>Ações</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <%= fornecedor.id_fornecedor %>
                                </td>
                                <td>
                                    <%= fornecedor.nome_fornecedor %>
                                </td>
                                <td>
                                    <%= fornecedor.cnpj_fornecedor %>
                                </td>
                                <td>
                                    <a href="/editarfornecedor/<%=fornecedor.id_fornecedor%>"
                                        class="btn btn-warning">Editar</a>
                                    <a href="/deletarfornecedor/<%=fornecedor.id_fornecedor%>"
                                        class="btn btn-danger">Deletar</a>
                                </td>
                            </tr>
                            <% })} %>
                        </tbody>
                    </table>
                </div>
                </p>
            </div>
            <div class="col-md-3 d-flex flex-column align-items-center menu_global">
                <a name="" id="" class="botao_menu" href="/" role="button">Inicio</a>
                <a name="" id="" class="botao_menu" href="/estoque" role="button">Estoque Completo</a>
                <a name="" id="" class="botao_menu" href="/estoquesimplificado" role="button">Estoque Simplificado</a>
                <a name="" id="" class="botao_menu" href="/produtos" role="button">Produtos</a>
                <a name="" id="" class="botao_menu" href="/funcionarios" role="button">Funcionarios</a>
                <a name="" id="" class="botao_menu" href="/fornecedores" role="button">Fornecedores</a>
            </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>