<%- include('../partials/header'); %>

    <main class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-center">Funcionários</h1>
                <div class="botoes_acoes">
                    <!-- botao_cadastro -->
                    <a href="/cadastrarfuncionarios" class="btn btn-primary">Cadastre um novo funcionário</a>
                </div>
                <hr>
                <p class="text-justify">
                <div class="table-responsive">
                    <table class="tabela_produtos">
                        <thead>
                            <%if (funcionarios_achados == '' ){ %>
                                <tr>
                                    <td colspan="7" class="alert-warning text-center">
                                        Não há nenhuma informação a ser exibida! <br>
                                        <a href="/cadastrarfuncionarios" class="botao_cadastro">Cadastre um novo funcionário</a>
                                    </td>
                                </tr>
                                <%} else { funcionarios_achados.forEach(function(funcionario){ %>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Cargo</th>
                                    <th>CPF</th>
                                    <th>Ações</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <%= funcionario.id_funcionario %>
                                </td>
                                <td>
                                    <%= funcionario.nome_funcionario %>
                                </td>
                                <td>
                                    <%= funcionario.cargo_funcionario %>
                                </td>
                                <td>
                                    <%= funcionario.cpf_funcionario %>
                                </td>
                                <td>
                                    <a href="/editarfuncionario/<%=funcionario.id_funcionario%>"
                                        class="btn btn-warning">Editar</a>
                                    <a href="/deletarfuncionario/<%=funcionario.id_funcionario%>"
                                        class="btn btn-danger">Deletar</a>
                                </td>
                            </tr>
                            <% })} %>
                        </tbody>
                    </table>
                </div>
                </p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <h1>Menu</h1>
                <a name="" id="" class="botao_menu" href="/" role="button">Inicio</a>
                <a name="" id="" class="botao_menu" href="/estoquecompleto" role="button">Estoque Completo</a>
                <a name="" id="" class="botao_menu" href="/estoquesimplificado" role="button">Estoque Simplificado</a>
                <a name="" id="" class="botao_menu" href="/produtos" role="button">Produtos</a>
                <a name="" id="" class="botao_menu" href="/funcionarios" role="button">Funcionarios</a>
                <a name="" id="" class="botao_menu" href="/fornecedores" role="button">Fornecedores</a>
            </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>