<%- include('../partials/header'); %>

    <main class="container-fluid">
        <div class="row">
            <div class="col-md-12 pl-4">
                <p class="rotas">Home/<b>Produtos</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <h1 class="text-center h1_secoes">Produtos</h1>
                <div class="botoes_acoes">
                    <!-- botao_cadastro -->
                    <a href="/cadastrarprodutos" class="btn btn-primary">Cadastre um novo produto</a>
                </div>
                <hr>
                <p class="text-justify">
                <div class="table-responsive">
                    <table class="tabela_produtos">
                        <thead>
                            <%if (produtos_achados=='' ){ %>
                                <tr>
                                    <td colspan="7" class="alert-warning text-center">
                                        Não há nenhuma informação a ser exibida! <br>
                                        <a href="/cadastrarprodutos" class="botao_cadastro">Cadastre um novo produto</a>
                                    </td>
                                </tr>
                                <%} else { produtos_achados.forEach(function(produto){ %>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Quantidade</th>
                                    <th>Seção</th>
                                    <th>Preço</th>
                                    <th>Data da Inserção</th>
                                    <th>ID Funcionário</th>
                                    <th>ID Fornecedor</th>
                                    <th>Ações</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <%= produto.id_produto %>
                                </td>
                                <td>
                                    <%= produto.nome_produto %>
                                </td>
                                <td>
                                    <%= produto.quantidade_produto %>
                                </td>
                                <td>
                                    <%= produto.secao %>
                                </td>
                                <td>
                                    <%= produto.preco %>
                                </td>
                                <td>
                                    <%= new Date(produto.data_insercao).toLocaleDateString() %>
                                </td>
                                <td>
                                    <%= produto.funcionario_produtos %>
                                </td>
                                <td>
                                    <%= produto.fornecedor_produtos %>
                                </td>
                                <td>
                                    <a href="/editarproduto/<%=produto.id_produto%>" class="btn btn-warning">Editar</a>
                                    <a href="/deletarproduto/<%=produto.id_produto%>" class="btn btn-danger">Deletar</a>
                                </td>
                            </tr>
                            <% })} %>
                        </tbody>
                    </table>
                </div>
                </p>
            </div>
            <div class="col-md-3 d-flex flex-column align-items-center menu_global">
                <a name="" id="" class="botao_menu" href="/" role="button">Inicio</a>
                <a name="" id="" class="botao_menu" href="/estoque" role="button">Estoque</a>
                <a name="" id="" class="botao_menu" href="/vendas" role="button">Vendas</a>
                <a name="" id="" class="botao_menu" href="/produtos" role="button">Produtos</a>
                <a name="" id="" class="botao_menu" href="/funcionarios" role="button">Funcionarios</a>
                <a name="" id="" class="botao_menu" href="/fornecedores" role="button">Fornecedores</a>
            </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>